.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  word-wrap: break-word;
  height: 80vh;
  width: 95%;
  border: 2px solid black;
  text-align: center;
}

thead {
  height: 5%;
}

tbody {
  height: 95%;
}

tbody > tr {
  height: 9%;
  width: 16.5%;
}

tbody > tr:hover {
  background-color: aliceblue;
}

.input-style {
  width: 100%;
  text-align: center;
  overflow-x: auto; 
  text-overflow:ellipsis;
}

.table thead{
  border-bottom: 1px solid black;
}


.width-1 {
  width: 5%;
}

.width-2 {
  width: 19%;
}

input {
  border: 0;
}

.paginator {
  gap: 5px;
  align-items: center;
  justify-content: center;
  height: 10vh;
  display: flex;
  flex-direction: row;
}
.paginator > button {
  height: 5vh;
}

.search-i {
  border: 3px solid aliceblue;
  height: 5vh;
  width: 50%;
}

.search-icon {
  min-width: 10%;
  max-width: 15%;
  height: 6vh;
}

.search-bar {
  gap: 2px;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row; 
}

button {
  border: 1px solid black;
  border-radius: 4px;
  background-color: aliceblue;
}

/* @media screen and (max-width: 768px) {
  .table {
    width: 100%;
    border-collapse: collapse;
  }

  .table td,
  .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .table thead {
    display: none;
  }

  .table tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 10px;
  }

  .table td:last-child {
    border-bottom: 0;
  }

  .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
} */
