.wrapper {
  margin: auto;
  height: 100vh;
  min-width: 100vw;
}

.center {
  text-align: center;
}

.center > button {

  width: 40%;
  margin: 3px;
}

.table {
  margin: auto;
  word-wrap: break-word;
  width: 95%;
  border: 2px solid #000000;
}

thead {
  height: 5vh;
}

tbody {
  height: 70vh;
}

tbody > tr:hover {
  background-color: aliceblue;
}

.input-style {
  width: 100%;
  text-align: center;
  overflow-x: auto; 
  text-overflow: ellipsis;
}

.table thead{
  border-bottom: 1px solid black;
}

.width-1 {
  width: 5%;
}

.width-2 {
  width: 19%;
}

input {
  border: 0;
}

.paginator {
  gap: 5px;
  align-items: center;
  justify-content: center;
  height: 10vh;
  display: flex;
  flex-direction: row;
}
.paginator > button {
  height: 5vh;
}

.search-i {
  border: 3px solid aliceblue;
  height: 5vh;
  width: 50%;
}

.search-icon {
  min-width: 10%;
  max-width: 15%;
  height: 6vh;
}

.search-bar {
  gap: 2px;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row; 
}

button {
  border: 1px solid black;
  border-radius: 4px;
  background-color: aliceblue;
}