.wrapper {
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

tbody > tr {
  max-height: 9vh;
}
.table {
  height: 76vh;
  width: 98vw;
  border-collapse: collapse;
  border: 2px solid black;
}

.table thead{
  border-bottom: 1px solid black;
}

tr {
  text-align: center;
}

.paginator {
  gap: 5px;
  align-items: center;
  justify-content: center;
  height: 10vh;
  display: flex;
  flex-direction: row;
}

.search-i {
  height: 5vh;
  width: 50%;
}

.search-icon {
  width: 10%;
  height: 6vh;
}

.search-bar {
  gap: 2px;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row; 
}