/* general */
.wrapper {
  margin: auto;
  height: 100vh;
  min-width: 100vw;
}

.center {
  text-align: center;
}


.center > button {

  width: 40%;
  margin: 3px;
}

/* header */

.search-i {
  border: 3px solid aliceblue;
  height: 5vh;
  width: 70%;
}

.search-icon {
  width: 25%;
  height: 6vh;
}

.search-bar { 
  width: 60%;
}

.top-delete-btn {
  background-color: rgb(252, 81, 81);
  position: absolute;
  top: 2vh;
  right: 5px;
  height: 6vh;
  width: 6vh;
}

button {
  border: 1px solid black;
  border-radius: 4px;
  background-color: aliceblue;
}

.header {
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row; 
}

/* table */

.table {
  margin: auto;
  word-wrap: break-word;
  width: 95%;
  border: 2px solid #000000;
}

thead {
  height: 5vh;
}

tbody {
  height: 70vh;
}

tbody > tr:hover {
  background-color: aliceblue;
}

.input-style {
  width: 100%;
  text-align: center;
  overflow-x: auto; 
  text-overflow: ellipsis;
}

.table thead{
  border-bottom: 1px solid black;
}

.width-1 {
  width: 5%;
}

.width-2 {
  width: 19%;
}

input {
  border: 0;
}



/* pagination */


.paginator {
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 10vh;
  display: flex;
  flex-direction: row;
}


.flex {
  padding: 1vh;
  gap: 5px;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  height: 8vh;
  background-color: aliceblue;
}

.paginator > ul > li {
  text-align: center;
  width: 5vh;
  height: 5vh;
}

a {
  font-size: larger;
  text-decoration: none;
}